.textureWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

/* Background Blobs */
.blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.5;
}

.blobTopLeft {
    top: -50px;
    left: -10%;
    width: 400px;
    height: 400px;
    background: #eaf1e6;
    /* Very light sage */
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}

.blobTopRight {
    top: 20%;
    right: -10%;
    width: 350px;
    height: 350px;
    background: #f1ebd8;
    /* Warm beige */
    border-radius: 60% 40% 30% 70% / 50% 60% 40% 50%;
    transform: rotate(45deg);
}

.blobBottomRight {
    bottom: -100px;
    right: 20%;
    width: 450px;
    height: 450px;
    background: #dbe8d4;
    /* Pastel sage */
    border-radius: 50% 50% 60% 40% / 40% 60% 50% 50%;
}

.blobBottomLeft {
    bottom: 10%;
    left: -15%;
    width: 500px;
    height: 500px;
    background: #e8ded4;
    /* Soft beige */
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
}

/* Leaf Textures */
.leafTopLeft {
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0.7;
    transform: rotate(15deg) scale(1.2);
}

.leafBottomRight {
    position: absolute;
    bottom: 5%;
    right: 5%;
    opacity: 0.7;
    transform: rotate(-15deg) scale(1.2);
}