.shapesWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.blob {
    position: absolute;
    opacity: 0.85;
    mix-blend-mode: multiply;
}

.curvyLine {
    position: absolute;
    fill: none;
    stroke-linecap: round;
    opacity: 0.8;
}

/* =========================================
   VARIANT A (Services Section) 
   ========================================= */
.blobA1 {
    top: -150px;
    left: -150px;
    width: 600px;
    height: 600px;
    fill: #dbe8d4;
    /* Pastel Sage */
    transform: rotate(15deg);
}

.blobA2 {
    bottom: -200px;
    right: -100px;
    width: 700px;
    height: 700px;
    fill: #f4ead6;
    /* Pastel Peach/Beige */
    transform: rotate(-25deg);
}

.lineA {
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    stroke: #e0ead7;
    /* Light sage */
    stroke-width: 35px;
}

/* =========================================
   VARIANT B (Why Choose Us) 
   ========================================= */
.blobB1 {
    top: -50px;
    right: -150px;
    width: 550px;
    height: 550px;
    fill: #e8d7d0;
    /* Soft Blush/Rose */
    transform: scale(0.9) rotate(45deg);
}

.blobB2 {
    bottom: -150px;
    left: -150px;
    width: 600px;
    height: 600px;
    fill: #dcece2;
    /* Minty Sage */
    transform: rotate(-10deg);
}

.lineB {
    bottom: 5%;
    left: 0;
    width: 100%;
    height: 90%;
    stroke: #f1e4ce;
    /* Peach */
    stroke-width: 45px;
    opacity: 0.6;
}

/* =========================================
   VARIANT C (All Services) 
   ========================================= */
.blobC1 {
    top: 20%;
    left: -200px;
    width: 800px;
    height: 800px;
    fill: #f3efde;
    /* Pale Yellow/Beige */
}

.blobC2 {
    top: -100px;
    right: 20%;
    width: 400px;
    height: 400px;
    fill: #dbe8d4;
    /* Pastel Sage */
}

.lineC {
    top: 30%;
    left: -5%;
    width: 110%;
    height: 40%;
    stroke: #e8d7d0;
    /* Blush */
    stroke-width: 25px;
}

/* =========================================
   VARIANT D (Treatment Options) 
   ========================================= */
.blobD1 {
    bottom: -250px;
    left: 10%;
    width: 900px;
    height: 900px;
    fill: #ebdcd7;
    /* Deep Blush */
    opacity: 0.7;
}

.lineD1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: #daebd4;
    /* Sage */
    stroke-width: 30px;
}

.lineD2 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: #f1ebd8;
    /* Beige */
    stroke-width: 20px;
    opacity: 0.9;
}

/* =========================================
   VARIANT E (Infertility Process) 
   ========================================= */
.blobE1 {
    top: -100px;
    left: 15%;
    width: 650px;
    height: 650px;
    fill: #eaf1e6;
    /* Softest Sage */
}

.blobE2 {
    top: 40%;
    right: -50px;
    width: 500px;
    height: 500px;
    fill: #ece3c1;
    /* Golden Sand */
    transform: rotate(60deg);
}

.lineE {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: #e8d7d0;
    /* Blush */
    stroke-width: 50px;
    opacity: 0.5;
}